
<%- include ../menu/cabecalho.ejs %>	

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/produto/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Nome:</td>
			<td><input type="text" name="nome" id="nome" value="<%= nome %>" /></td>
		</tr>
		<tr> 
			<td>Marca:</td>
			<td><input type="text" name="marca" value="<%= marca %>" /></td>
		</tr>
		<tr> 
			<td>Valor R$:</td>
			<td><input type="text" name="valor" value="<%= valor %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Adicionar" /></td>
		</tr>
	</table>
</form>

<%- include ../menu/rodape.ejs %>
